{% extends 'base.html.twig' %}

{% block title %}ClassRoom index{% endblock %}

{% block body %}
    <h1 class="text-center m-4 text-secondary">CLASS ROOMS</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for class_room in class_rooms %}
            <tr>
                <td>{{ class_room.id }}</td>
                <td>{{ class_room.name }}</td>
                <td>{{ class_room.location }}</td>
                <td>
                    <a class="btn btn-success m-2" href="{{ path('class_room_show', {'id': class_room.id}) }}">show</a>
                    <a class="btn btn-warning m-2" href="{{ path('class_room_edit', {'id': class_room.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary m-2" href="{{ path('class_room_new') }}">Create new</a>
{% endblock %}
