{% extends 'base.html.twig' %}

{% block title %}Teacher index{% endblock %}

{% block body %}
    <h1 class="text-center m-4 text-secondary" >TEACHERS</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.firstName }}</td>
                <td>{{ teacher.lastName }}</td>
                <td>
                    <a class="btn btn-success m-2" href="{{ path('teacher_show', {'id': teacher.id}) }}">show</a>
                    <a class="btn btn-warning m-2" href="{{ path('teacher_edit', {'id': teacher.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary m-2" href="{{ path('teacher_new') }}">Create new</a>
{% endblock %}
