{% extends 'base.html.twig' %}

{% block title %}Teacher{% endblock %}

{% block body %}
    <h1 class="text-center m-4 text-secondary font-italic">Teacher</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ teacher.id }}</td>
            </tr>
            <tr>
                <th>First_name</th>
                <td>{{ teacher.firstName }}</td>
            </tr>
            <tr>
                <th>Last_name</th>
                <td>{{ teacher.lastName }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary m-2" href="{{ path('teacher_index') }}">back to list</a>

    <a class="btn btn-warning m-2" href="{{ path('teacher_edit', {'id': teacher.id}) }}">edit</a>

    {{ include('teacher/_delete_form.html.twig') }}
{% endblock %}
